.todoapp {
  margin-top: 50px;
}

.task-title {
  text-align: center;
  margin-bottom: 70px;
}


.todoapp .todoapp-column {
  border: 1px solid;
  padding: 20px 40px;
  position: relative;
}

.todo-list {
  margin: 15px 0 100px;
  padding-left: 0;
}

.todo-item {
  border: 1px solid;
  margin-bottom: 20px;
}

.todo-item-overview {
  display: flex;
  justify-content: space-between;
  padding: 15px 20px;
}

.todo-detail {
  border-top: 1px solid;
  padding: 30px 30px 40px;
}

.task .btn-add-task {
  border: 0;
  background-color: #7dc67d;
  margin-top: 50px;
  color: floralwhite;
  width: 100%;
  border-radius: 5px;
  font-weight: 500;
}

.task .btn-add-task:hover {
  color: floralwhite;
  background-color: #4f8f4f;
}

.task .btn-detail {
  width: 100px;
  color: floralwhite;
  padding: 4px 20px;
  border-radius: 5px;
  font-size: 13px;
  font-weight: 500;
}

.task .btn-show-detail {
  background-color: #00bcd4;
}

.task .btn-show-detail:hover {
  color: floralwhite;
  background-color: #00a3cc;
}

.task .btn-remove {
  background-color: #d9534f;
  margin-left: 20px;
}

.task .btn-remove:hover {
  color: floralwhite;
  background-color: #bd3f3a;
}

.date {
  width: 100%;
  height: 38px;
  padding: 12px;
}

.piority {
  /*@extend .date;*/
  width: 100%;
  height: 38px;
  padding-left: 12px;
}

.error {
  font-size: 11px;
  color: red;
}

.action {
  width: 100%;
  display: flex;
  justify-content: space-between;
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: #cccccc;
  padding: 20px 30px;
  align-items: center;
  border-top: 1px solid;
}

.action .btn-action {
  width: 120px;
  color: floralwhite;
  padding: 8px 20px;
  border-radius: 5px;
  font-size: 13px;
  font-weight: 500;
}

.action .btn-done {
  background-color: #00bcd4;
}

.action .btn-done:hover {
  color: floralwhite;
  background-color: #00a3cc;
}

.action .btn-remove-all {
  background-color: #d9534f;
  margin-left: 20px;
}

.action .btn-remove-all:hover {
  background-color: #bd3f3a;
  color: floralwhite;
}


.form-label {
  font-weight: bold;
}

div {
  font-size: 13px;
}

ul li {
  list-style-type: none;
}