<template>
  <div class="container">
    <div class="todoapp">
      <div class="row">
        <div class="col-5 todoapp-column">
          <div class="task">
            <h3 class="task-title">New Task</h3>
            <div>
              <input
                type="text"
                class="form-control"
                placeholder="Add new task ..."
                v-model="formTask.title"
              >
              <!-- <span class="error" v-if="isError">This field is required!</span> -->
              <div class="mt-4">
                <label class="form-label">Description</label>
                <textarea rows="6" class="w-100" v-model="formTask.description"></textarea>
              </div>

              <div class="row mt-4">
                <div class="col-6">
                  <label class="form-label">Due Date</label>
                  <input type="date" class="date" v-model="formTask.date">
                </div>
                <div class="col-6">
                  <label class="form-label">Piority</label>
                    <select v-model="formTask.priority" class="piority">
                      <option v-for="(option, index) in priority" :key="index" :value="option"> {{ option }} </option>
                    </select>
                </div>
              </div>

              <button type="submit" class="btn btn-add-task" @click="addTask">Add</button>
            </div>
          </div>
        </div>
        <!-- new task -->

        <div class="col-7 todoapp-column border-start-0">
          <div class="task">
            <div class="">
              <h3 class="task-title">To Do List</h3>
              <div>
                <input type="text" class="form-control" placeholder="Seach ..." v-model="inputSearch">
              </div>
              <ul class="todo-list">
                <li v-for="(task) in listTask" :key="task.id" class="todo-item" v-show="!(task.isHidden)">
                  <div class="todo-item-overview">
                    <div class="d-flex align-items-center">
                      <input type="checkbox" v-model="task.check" @click="check">
                      <div class="form-group ms-3">
                        <label> {{ task.title }} </label>
                      </div>
                    </div>
                    <div>
                      <button @click="showDetail(task)" class="btn btn-detail btn-show-detail">Detail</button>
                      <button @click="removeTask(task)" class="btn btn-detail btn-remove">Remove</button>
                    </div>
                  </div>

                  <div class="todo-detail w-100" v-if="task.isShow">
                    <div class="">
                      <input class="form-control" v-model="form[`${task.id}`].title"/>
                    </div>
                    <div class="mt-4">
                      <label class="form-label">Description</label>
                      <textarea rows="6" class="w-100" v-model="form[`${task.id}`].description"/>
                    </div>
                    <div class="row mt-4">
                      <div class="col-6">
                        <label class="form-label">Due Date</label>
                        <input v-model="form[`${task.id}`].date" class="date" type="date"/>
                      </div>
                      <div class="col-6">
                        <label class="form-label">Piority</label>
                        <select class="piority" v-model="form[`${task.id}`].priority">
                        <option :value="option" v-for="(option, index) in priority" :key="index">{{ option }}</option>
                        </select>
                      </div>
                    </div>
                    <button type="submit" class="btn btn-add-task" @click="updateTask(task.id)">Update</button>
                  </div>
                  
                </li>                            
              </ul>
            </div>
          </div>

          <div class="action" v-if="isShowAction.length > 0">
            <p class="mb-0">Bulk Action:</p>
            <div class="d-flex">
              <button class="btn btn-action btn-done">Done</button>
              <button class="btn btn-action btn-remove-all" @click="removeList">Remove</button>
            </div>
          </div>
        </div>
        <!-- to do list -->
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'TodoApp',
  data() {
    return {
      isError: false,
      select: 'Normal',
      priority: [ 'Low', 'Normal','High' ],
      inputSearch: '',
      listTask: [],
      formTask: {
        title: '',
        description: '',
        date: new Date().toISOString().slice(0, 10),
        priority: 'Normal',
        isShow: false,
        isHidden: false,
        check: false,
      },
      form: [],
      isShowAction : []
    }
  },

  watch: {
    inputSearch() {
      const valueSearch = this.inputSearch
      if(!valueSearch) {
        this.listTask.forEach(item => {
          item.isHidden = false
        })
      }
      this.listTask.forEach(item => {
        if(item.title.indexOf(valueSearch) == -1) {
          item.isHidden = true
        } else {
          item.isHidden = false
        }
      })
    },
  },

  methods: {
    addTask() {
      if(this.formTask.title !=='') {
        const id = this.listTask.length
        let newTask = {id,...this.formTask}
        this.listTask == this.listTask.push(newTask)
      }
      this.formTask = {
        title: '',
        description: '',
        date: new Date().toISOString().slice(0, 10),
        priority: 'Normal',
        isShow: false,
        isHidden: false,
        check: false,
      }     
    },

    removeTask(task) {
      this.listTask = this.listTask.filter ((item) => {
        if(item.id !== task.id) return item
      })
    },

    updateTask (id) {
      this.listTask[id].title =this.form[id].title
      this.listTask[id].description =this.form[id].description
      this.listTask[id].date =this.form[id].date
      this.listTask[id].priority =this.form[id].priority
      this.listTask[id].isShow =this.form[id].isShow
      this.listTask[id].isHidden =this.form[id].isHidden
      this.listTask[id].check =this.form[id].check
    },

    removeList () {
      this.listTask = this.listTask.filter ((item) => {
        if(!item.check) return item 
      })
    },

    showDetail(task) {
      this.form[task.id] = {...task}
      this.listTask.forEach(item => {
        if(item.id == task.id) {
          item.isShow = !item.isShow 
        }
      })
    },
    check () {

      setTimeout(() => {
        this.isShowAction = this.listTask.filter((item) =>{
          if(item.check) return item
        })
      }, 100);
    }
  }
}
</script>

<style scoped>
@import "../assets/scss/_todo-app.scss";
</style>
