<template>
  <div id="app">
    <TodoApp />
  </div>
</template>

<script>
import TodoApp from "./components/TodoApp";
export default {
  name: 'App',
  components: {
    TodoApp
  }
}
</script>

<style></style>
